* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --preto: #000000;
    --marinho: #493D9E;
    --amarelo-claro: #FFF2AF;
    --roxo-claro: #B2A5FF;
    --verde: #99BC85;
    --azul-claro: #E4EFE7;
    --branco: #FFFFFF;
    --marron-claro: #FAF1E6;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--azul-claro);
    color: var(--amarelo-claro);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    width: 100%;
    background-color: var(--marinho);
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.menu-disciplina {
    width: 20%;
    display: inline-block;
}
.ding: 1.05rem 1.5rem;
    colbotao-disciplinas {
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--preto);
    border: none;
    pador: var(--roxo-claro);
}
#menu-toggle {
    display: none;
}
.lista-vertical {
    display: none;
    position: absolute;
    background-color: var(--roxo-claro);
    box-shadow: 0 2px 5px var(--marinho);
    min-width: 190px;
    z-index: 1;
    left: 1rem;
    top: 100%;
}
