* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --preto: #000000;
    --marinho: #493D9E;
    --amarelo-claro: #FFF2AF;
    --roxo-claro: #B2A5FF;
    --verde: #99BC85;
    --azul-claro: #E4EFE7;
    --branco: #FFFFFF;
    --marron-claro: #FAF1E6;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--azul-claro);
    color: var(--amarelo-claro);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    width: 100%;
    background-color: var(--marinho);
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.menu-disciplina {
    width: 20%;
    display: inline-block;
}